body{
	background:#fff;
	min-width:920px;
	font-size:12px;
	display: block;
	margin:0;
	padding:0;
	font:12px/1.5 PingFangSC-Regular,Helvetica,Arial,Microsoft Yahei,sans-serif;
    font-style: normal;
    font-variant-ligatures: normal;
    font-variant-caps: normal;
    font-variant-numeric: normal;
    font-variant-east-asian: normal;
    font-weight: normal;
    font-stretch: normal;
    font-size: 12px;
    line-height: 1.5;
    font-family: PingFangSC-Regular, Helvetica, Arial, "Microsoft Yahei", sans-serif;
}
div{
	margin:0;
	padding:0;
	display:block;
}
#block {
	width:100%;
	height:80px;
	background-color:#232325;
}
.header-wrap{
	position:relative;
}
.logo{
	float:left;
	font-size:0;
}
.logo-sprite{
	width: 105px;
    height: 35px;
    margin-top: 17px;
}
.logo .logo-sprite .logo-dot{
	display:inline-block;
	vertical-align:top;
	letter-spacing:0;
}
a{
	text-decoration:none;
}
a:active,ahover{
	text-decoration:none;
}

.logo img{
	margin-top:5px;
	margin-left:5px;
}

.logo .logo-dot{
	display:inline-block;
	vertical-align:top;
	letter-spacing:0;
	width:3px;
	height:3px;
	margin:34px 10px 0;
	border-radius:50%;
	background-color:#de08fd;
}
i{
	font-style:normal;
}
.logo .logo-channel{
	height:24px;
	margin-top:24px;
	line-height:23px;
	font-size:16px;
	color:#b958c7;
	display: inline-block;
    vertical-align: top;
    letter-spacing: 0;
}

h1{
	font-weight:400px;
	margin:0;
	padding:0;
	display:inline-block;
	vertical-align:top;
	letter-spacing:0; 
}

/* ËÑË÷À¸  */
.nav{
	float:left;
	height:24px;
	margin:24px 0 0 20px;
	line-height:23px;
	font-size:0;
}
.nav .nav-home{
	margin-left:-10px;
	display:inline-block;
	vertical-align:top;
	letter-spacing:0;
}
.nav-link{
	margin:0px 10px;
	vertical-align:top;
	font-size:16px;
	color:#ccc;
}
a:link{
	text-decoration:none;
}
.nav .home-line{
	width:3px;
	height:11px;
	margin-top:6px;
	margin-right:10px;
	background-color:#666;
}
.home-line{
	display:inline-block;
	vertical-align:top;
	letter-spacing:0;
}

/* ËÑË÷À¸ */
.search{
	position:absolute;
	left:65%;
	margin-top:14px;
	margin-left:-129px;
}
form{
	margin:0;
	padding:0;
	display:block;
}
.search .search-box{
	position:relative;
	box-sizing:border-box;
	height:42px;
	padding-right:96px;
	background-color:#333;
	border-radius:21px;
}
.search .search-box-in{
	width:222px;
	display:inline-block;
	vertical-align:top;
	padding-right:42px;
}
.search .search-box-input{
	display:block;
	width:100%;
	height:20px;
	padding:11px 0;
	line-height:20px;
	text-indent:17px;
	border-radius:21px 0 0 21px;
	background-color:transparent;
	border:0;
	outline:0;
	font-size:16px;
	font-family:Microsoft Yahei;
}
input{
	margin:0;
	padding:0;
}
.search-hot-img{
	position: absolute;
    right: 106px;
    top: 50%;
    margin-top: -9px;
    color: #666;
    cursor: pointer;
}
.svgicon-img{
	font-size:17px;
	line-height:18px;
	display: inline-block;
    vertical-align: -1px;
    font-family: iconfont!important;
}
.search .search-box-out{
	position:absolute;
	right:0;
	top:0;
}
.search .search-box-btn{
	display: block;
    width: 96px;
    height: 18px;
    padding: 12px 0;
    line-height: 16px;
    background-color: #ac54b9;
    border-radius: 0 20px 20px 0;
    color: #fff;
    text-align: center;
    font-size: 16px;
}
.search .search-box-svgicon{
	
	margin-right:4px;
	vertical-align:0;
	padding-top:1px;
}
.search-box-btn img{
	width:16px;
}
.search-box-btnTxt{
	font-family:Microsoft Yahei;
	text-align: center;
}

/* µÇÂ¼×¢²á */
.header-side{
	float:right;
	margin-top:16px;
	width:230px;
	height:44px;
}
.header-side .header-userWrap{
	position: absolute;
    right:150px;
}
.header-userLink{
	position:relative;
	display:block;
	padding:2px;
}
.header-side .header-userImg{
	width: 100%;
    height: 100%;
    border-radius: 50%;
}
.header-userImg img{
	width:34px;
}
.header-login{
    position: absolute;
	right:10px;
    width: 128px;
	margin-left: 15px;
}

.login-box-bottom{
	margin-bottom:10px;
	font-size: 0;
    text-align: center;
	padding-top:8px;
}
.button-login{
	display: inline-block;
    height: 24px;
    padding: 0 15px;
    line-height: 24px;
    text-align: center;
    border-radius: 13px;
    background-color: #ac54b9;
    color: #fff;
    font-size: 12px;
	margin-right:10px;
}
.button-login-plain{
	display: inline-block;
	padding: 0 15px;
	text-align: center;
    border-radius: 13px;
	font-size: 12px;
	height: 22px;
    line-height: 22px;
    border: 1px solid #ac54b9;
    background-color: #fff;
    color: #ac54b9
}