/* 主页图片 */
.focus-page{
	width: 100%;
    background-color: #000;
    position: relative;
}
.focus-page .focus-img-wrap{
	height:520px;
	position:relative;

}
.focus-page .focus-img-wrap li{
	position: absolute;
	height:100%;
	width: 100%;
	opacity: 0;
	transition: opacity 1500ms;
}

ul,li{
	list-style:none;
	margin:0;
	padding:0;
}
a{
	text-decoration:none;
}
.focus-page .img-item{
	height:100%;
	background:no-repeat 50%;
	background-size:100% 100%;
}
.focus-page .img-link{
	display:block;
	width:100%;
}
.img-list img{
	width:100%;
	height:100%;
}
.img-item1 li{
	position: absolute;
	height:100%;
	width: 100%;
	opacity: 0;
	transition: opacity 1500ms;
}
.content img{   /* 鼠标上去会变亮*/
  opacity:1;
  filter(alpha=100);
}
.content img:hover{
  opacity:0.7;
  filter(alpha=70);
}
.video-wrap-right img{   /* 鼠标上去会变亮*/
  opacity:1;
  filter(alpha=100);
}
.video-wrap-right img:hover{
  opacity:0.7;
  filter(alpha=70);
}

/* 分类标签 */
.focus-type{
	width:100%;
	height:120px;
	overflow:hidden;
	background:#f9f9f9;
	margin:10px 0 10px 0;
}
.focus-type .type-inner{
	width:920px;
	height:92px;
	font-size:0;
	margin:10px auto;
}
.focus-type .type-wrap{
	height:100%;
	width:100%;
	overflow:hidden;
	font-size:0;
}
.focus-type .type-part{
	display: inline-block;
    color: #222;
    height: 100%;
    overflow: hidden;
}
.focus-type .type-left
{
	width:24%;
}
.focus-type .type-mid
{
	width:33%;
}
.focus-type .type-right
{
	width:43%;
}
h4{
	font-weight:400px;
	margin:0;
	padding:0;
}
.focus-type .type-title{
	font-size:16px;
	line-height:32px;
	color:#999;
}
.focus-type .type-title .t-link{
	font-size:14px;
	margin-left:13px;
	color:#222;
	font-weight: normal;
}
.focus-type .type-list{
	margin-left:-20px;
	margin-right:50px;
}
.focus-type .type-li{
	margin-left:20px;
	display:inline-block;
	font-size:14px;
}
.focus-type .type-link{
	line-height:30px;
	color:#222;
}

/* 电影播放 */
.video-content{
	width: 1285px;
	height:390px;
	position: relative;
    margin: 0 auto;
    overflow: hidden;
    padding: 0 4px;
	margin-bottom:30px;
}
.video-content .video-header{
	position: relative;
	margin-bottom: 15px;
	height:28px;
}
.video-content .video-header-title{
	color: #222;
    font-size: 0;
}
.video-content .header-word{
	float: left;
	font-size: 26px;
    line-height: 28px;
}
.video-wrap-left{
	float:left;
	margin-right:5px;
	width: 640px;
    height: 339px;
	display: inline-block;
    vertical-align: top;
    position: relative;
}
.video-content .video-box{
	width:640px;
	height:339px;
}
.video-box video{
	width:100%;
	height:100%;
}
.video-wrap-right{
	float:right;
	width: 640px;
    height: 339px;
	display: inline-block;
    vertical-align: top;
    position: relative;
}
.div1{
	width:640px;
	height:339px;
}
.div1 .div1-ul{
	font-size:0;
	white-space:nowrap;
	height:339px;
}
.div1 .div1-li{
	vertical-align: top;
    display: inline-block;
	height:339px;
}
.div1-wrap-li{
	width: 210px;
}
.div1-wrap-li .div1-link{
	width:210px;
	height:280px;
	display:block;
	overflow:hidden;
}
.div1-wrap-li .div1-img{
	display:block;
    height:100%;
	width:100%;
    border-radius:10px;
}
.div1-wrap-li .div1-title-wrap{
	position: relative;
    background: #f8f8f8;
    line-height: 1;
    padding: 6px 10px;
	height:47px;
}
.div1-wrap-li .div1-title-wrap .div1-p-main{
	line-height: 23px;
    height: 23px;
    font-size: 15px;
    vertical-align: baseline;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.div1-wrap-li .div1-title-wrap .div1-link-txt{
	color:#222;
}

/* 猜你喜欢 推荐 */
.focus-page .content{
	width:1285px;
	position:relative;
	margin:0 auto;
	overflow:hidden;
	padding:0 4px;
	padding-top:5px
}
.mod-wrap{
	position: relative;
    margin-bottom: 50px;
}
.mod-header{
	position:relative;
	margin-bottom:15px;
	width:1285px;
	height:28px;
}
h2{
	font-weight:400px;
}
.mod-header .mod-title{
	color:#222;
	font-size:0;
}
.mod-header .mod-title{
	float: left;
    display: inline-block;
    position: relative;
    padding-left: 40px;
	color:#222;
}
.mod-header .mod-title .mod-text{
	display:inline-block;
	font-size:26px;
	line-height:28px;
	color:#222;
}
.mod-list{
	width:1285px;
	height:339px;
	margin-left:32px;
	margin-right:32px;
}
.mod-list .mod-ul{
	font-size:0;
	white-space:nowrap;
	height:339px;
}
.mod-list .mod-li{
	vertical-align: top;
    display: inline-block;
    margin-right: 5px;
	height:339px;
}
.mod-wrap-li{
	width: 210px;
}
.mod-wrap-li .mod-link{
	width:210px;
	height:280px;
	display:block;
	overflow:hidden;
}
.mod-wrap-li .mod-img{
	display:block;
    height:100%;
	width:100%;
    border-radius:10px;
}
.mod-wrap-li .title-wrap{
	position: relative;
    background: #f8f8f8;
    line-height: 1;
    padding: 6px 10px;
	height:47px;
}
.mod-wrap-li .title-wrap .p-main{
	line-height: 23px;
    height: 23px;
    font-size: 15px;
    vertical-align: baseline;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.mod-wrap-li .title-wrap .link-txt{
	color:#222;
}

/* 分割线 */
.under-line{
	margin:5px 30px 25px 30px;
	border-top:2px solid #e36cf5;
}
/* 分割线 */
.under-line2{
	margin:5px 30px 25px 30px;
	border-top:2px solid #e8dddd;
}

/* 底部 */
#footer_bottom{
	border-style: solid;
	border-width: 0px 0px 1px 0px;
	border-color:#f0f0f0;
	background:#f8f8f8;
	padding-top: 19px;
	padding-bottom: 36px;
}
#footer_top div{
	display:inline-block;
	vertical-align:top;
}
#company-cate {
	margin-left:200px;
	white-space:nowrap;
}
.cate-title p {
	font-size: 22px;
	color: #222;
	line-height: 32px;
	margin-bottom: 10px;
}
.company-cate1 {
	margin-left:100px;
}
.company-cate2 {
	margin-left:100px;
}
.company-cate3 {
	margin-left:100px;
}
.company-cate4 {
	margin-left:100px;
}
.company-cate5 {
	margin-left:100px;
}
.link {
	line-height:35px;
	color:black;
}
.link a {
	text-decoration:none;
}
.link a:hover {
    font-family: "宋体";
    color:green;
}
.law-link {
    display: block;
    font-size: 14px;
    color: #666;
    margin-bottom: 16px;
}
.footer-law1 {
	margin:20px 120px;
}
.footer-law2 {
	margin:20px 50px;
}
.footer-law3 {
	margin:20px 60px;
}
.footer-law4 {
	margin:20px 60px;
	white-space:nowrap;
}
.footer-jubao {
	margin-left:250px;
}
.copyright{
	font-size: 14px;
	text-align: center;
	color: #999;
	margin-left:250px;
	white-space:nowrap;
}
footer {
	white-space:nowrap;
	margin-top: 150px;
}